%p Bonjour #{@user.firstName} !

%p Un administrateur a validé votre compte sur #{link_to 'Assessme', root_url}
%p #{link_to 'Cliquez ici', new_user_session_url} pour vous connecter.
%p A très bientôt !