%p
  Bonjour #{@resource.firstName} !
%p Vous avez demandé la réinitilisation de votre mot de passe, cliquez sur le lien suivant pour choisir un nouveau mot de passe :
%p= link_to 'changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
%p Si vous n'avez pas demandé un nouveau mot de passe, merci d'ignorer ce message.
